body{
    background-color:ghostwhite;
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    align-items: center;
}

.equals{
    font-weight: bold;
    font-size: 2rem;
}

h1{
    font-family: 'Roboto', sans-serif;
}